@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Connect Button */

.connectButton {
  background-color: #c007a1;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  outline: none;
}

progress::-moz-progress-bar {
  background: linear-gradient(to right, #c007a1, #d140b9, #a53091);
}

progress::-webkit-progress-value {
  background: linear-gradient(to right, #c007a1, #d140b9, #a53091);
}

progress {
  color: #8461ff;
}

/*================================================================
Styles for Swiper slider
================================================================*/
.swiper {
  @apply flex flex-col;
}

.swiper-wrapper {
  @apply order-first flex;
}

.swiper-scrollbar {
  @apply relative bg-gray-200 rounded dark:bg-gray-600;
}

.swiper-horizontal > .swiper-scrollbar {
  @apply z-10 mt-4 mb-0 h-0.5 w-full sm:mt-6;
}

.swiper-vertical > .swiper-scrollbar {
  @apply absolute top-0 right-1 z-10 h-full w-0.5;
}

.swiper-scrollbar-drag {
  @apply relative bg-gray-900 rounded dark:bg-sidebar;
}

.swiper-horizontal .swiper-scrollbar-drag {
  @apply top-[-1px] left-0 h-[3px] w-full shadow-sm;
}

.swiper-vertical .swiper-scrollbar-drag {
  @apply left-[-1px] top-0 h-full w-[3px] shadow-sm;
}

.swiper-scrollbar-cursor-drag {
  @apply cursor-move;
}

.swiper-scrollbar-lock {
  @apply hidden;
}

body {
  height: 100vh;
  width: 100vw;
  /* background-image: url("../public/assets/imgs/pink-light.svg"); */
  background-color: hsla(108, 100%, 80%, 0);
  background-image: radial-gradient(
    at 50% 85%,
    rgba(192, 7, 161, 0.4) 0px,
    transparent 60%
  );
  backdrop-filter: blur(32px);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #030e21;
}

body,
html {
  overflow: hidden;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #08162e;
  border-radius: 16px;
}

.AccordionContent {
  overflow: hidden;
}

@keyframes slideDown {
  from {
      height: 0;
  }
  to {
      height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
      height: var(--radix-accordion-content-height);
  }
  to {
      height: 0;
  }
}

.AccordionChevron {
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionHeader[data-state="open"]>.AccordionTrigger>.AccordionChevron {
  transform: rotate(180deg);
}

/* cursor */

.cursor-outer,
.cursor-inner {
    pointer-events: none;
    position: absolute;
    top: -50%;
    left: -50%;
    z-index: 50;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-inner {
    width: 8px;
    height: 8px;
    background-color: #c007a1;
}

.cursor-outer {
    width: 40px;
    height: 40px;
    border: 1px solid #c007a1;
    background-color: transparent;
}