@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins'), url(/fonts/poppins.woff2) format('woff2');
}

body {
  margin: 0;
  font-family: 'Poppins' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-radial-gradient {
  background-image: radial-gradient(#36122d 0%, #000000 100%);
}

.connectButton {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 10px 18px;
  color: black;
  background: none;
  font-size: 14px;
  font-weight: 700;
  border-radius: 8px;
  background: #b38228;
  transition: 200ms ease;
  margin-top: 3px;
  margin-bottom: 3px;
}

.connectButton:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 40px -6px white;
  background-color: #f8d294;
}
